<!DOCTYPE html>
<html
	class="height:100%"
	lang="en"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge"
		/>
		<title>Sigil Online</title>
		<link
			href="/static/css/styles.css"
			rel="stylesheet"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Arvo&family=Overlock&display=swap"
			rel="stylesheet"
		/>
		<script
			defer
			src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"
		></script>
		<script src="/static/scripts/game-board.js"></script>
	</head>
	<body
		class="display:flex flex-direction:column height:100% justify-content:space-between"
		x-data="gameBoard"
	>
		<div>
			<header class="background-color:0d0513 padding:32 position:relative text-align:center">
				<h1>
					<a href="/v2"
						><span class="visually-hidden">Sigil Online</span
						><img
							class="max-width:100%"
							alt=""
							src="/static/images/v2/sigil-online-logo.svg"
							height="36"
							width="287"
					/></a>
				</h1>
				<img
					class="bottom:0 left:50% position:absolute transform:translate(-50%_50%)"
					alt=""
					src="/static/images/v2/swoosh-separator.svg"
					height="14"
					width="116"
				/>
			</header>
			<div class="display:flex justify-content:space-between margin-horizontal:auto max-width:800">
				<div>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="message"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="awaiting"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="actionList"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="whoseTurn"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="blueCountdown"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16"
						x-text="redCountdown"
					></p>
					<p
						class="color:dddcdd font-family:overlock font-size:16 position:absolute"
						style="pointer-events: none; right: 0; z-index: 1; width: 200px"
						x-text="JSON.stringify(spells.text)"
					></p>
				</div>
				<div class="display:flex">
					<button
						class="align-items:center background-color:115f77 border-radius:full box-shadow:2_2_0e0514 color:f0f0f0 display:flex font-size:31 font-family:overlock height:66 justify-content:center :hocus--background-color:004962"
						x-show="actionList && !actionList.includes('move')"
						x-on:click="handleReset"
					>
						Reset
					</button>
					<button
						class="align-items:center background-color:115f77 border-radius:full box-shadow:2_2_0e0514 color:f0f0f0 display:flex font-size:31 font-family:overlock height:66 justify-content:center :hocus--background-color:004962"
						x-show="actionList && actionList.includes('pass')"
						x-on:click="handleEndTurn"
					>
						End Turn
					</button>
					<button
						class="align-items:center background-color:115f77 border-radius:full box-shadow:2_2_0e0514 color:f0f0f0 display:flex font-size:31 font-family:overlock height:66 justify-content:center :hocus--background-color:004962"
						x-show="actionList && actionList.includes('dash')"
						x-on:click="handleDash"
					>
						Dash
					</button>
				</div>
			</div>
		</div>
		<div class="overflow:auto text-align:center">
			<div class="display:inline-block position:relative">
				<img
					class="game-board max-width:100%"
					src="/static/images/v2/game-board.jpg"
					alt=""
				/>
				<div class="spells">
					<img
						class="charm-node charm-node--1 charm-spell charm-spell--1"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:class="spells.images.charm1 && 'visible'"
						x-bind:src="spells.images.charm1"
					/>
					<img
						class="charm-node charm-node--2 charm-spell charm-spell--2"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.charm2"
						x-bind:class="spells.images.charm2 && 'visible'"
					/>
					<img
						class="charm-node charm-node--3 charm-spell charm-spell--3"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.charm3"
						x-bind:class="spells.images.charm3 && 'visible'"
					/>

					<img
						class="ritual-node ritual-node--1 ritual-spell ritual-spell--1"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.ritual1"
						x-bind:class="spells.images.ritual1 && 'visible'"
					/>
					<img
						class="ritual-node ritual-node--2 ritual-spell ritual-spell--2"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.ritual2"
						x-bind:class="spells.images.ritual2 && 'visible'"
					/>
					<img
						class="ritual-node ritual-node--3 ritual-spell ritual-spell--3"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.ritual3"
						x-bind:class="spells.images.ritual3 && 'visible'"
					/>

					<img
						class="sorcery-node sorcery-node--1 sorcery-spell sorcery-spell--1"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.sorcery1"
						x-bind:class="spells.images.sorcery1 && 'visible'"
					/>
					<img
						class="sorcery-node sorcery-node--2 sorcery-spell sorcery-spell--2"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.sorcery2"
						x-bind:class="spells.images.sorcery2 && 'visible'"
					/>
					<img
						class="sorcery-node sorcery-node--3 sorcery-spell sorcery-spell--3"
						alt=""
						src="/static/images/v2/spacer.gif"
						x-bind:src="spells.images.sorcery3"
						x-bind:class="spells.images.sorcery3 && 'visible'"
					/>
				</div>
				<div class="spell-nodes">
					<img
						class="charm-node charm-node--1"
						alt=""
						src="/static/images/v2/nodes/charm.png"
					/>
					<img
						class="charm-node charm-node--2"
						alt=""
						src="/static/images/v2/nodes/charm.png"
					/>
					<img
						class="charm-node charm-node--3"
						alt=""
						src="/static/images/v2/nodes/charm.png"
					/>

					<img
						class="ritual-node ritual-node--1"
						alt=""
						src="/static/images/v2/nodes/ritual.png"
					/>
					<img
						class="ritual-node ritual-node--2"
						alt=""
						src="/static/images/v2/nodes/ritual.png"
					/>
					<img
						class="ritual-node ritual-node--3"
						alt=""
						src="/static/images/v2/nodes/ritual.png"
					/>

					<img
						class="sorcery-node sorcery-node--1"
						alt=""
						src="/static/images/v2/nodes/sorcery.png"
					/>
					<img
						class="sorcery-node sorcery-node--2"
						alt=""
						src="/static/images/v2/nodes/sorcery.png"
					/>
					<img
						class="sorcery-node sorcery-node--3"
						alt=""
						src="/static/images/v2/nodes/sorcery.png"
					/>
				</div>
				<div class="stone-nodes">
					<template x-for="node in Object.keys(nodes)">
						<button
							class="stone-node"
							x-bind:class="{ [`stone-node--${node}`]: true, [`stone-node--${nodes[node]}`]: true, 'stone-node--halo': lastPlay === node }"
							x-on:click="handleNodeClick(node)"
							x-text="node"
						></button>
					</template>
				</div>
			</div>
		</div>
		<div
			class="display:grid gap:24 margin-horizontal:auto max-width:600 padding:16 text-align:center"
		>
			<a href="https://www.pineislandgames.com/"
				><img
					class="@mq-700--width:200"
					alt="Pine Island Games"
					src="/static/images/v2/pine-island-games-logo.png"
					width="140"
			/></a>
		</div>
	</body>
</html>
