.ladder-details {
	display: flex;
	justify-content: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	z-index: 1;
}

.ladder-details__inner {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	width: 100%;
	color: white;
}

.ladder-details__inner > div {
	display: flex;
}

.ladder-details__inner > .red {
	justify-content: flex-end;
	flex-basis: 100%;
	color: #fa3f32;
}

.ladder-details__inner > .blue {
	justify-content: flex-start;
	flex-basis: 100%;
	color: #295ccd;
}

.ladder-details__inner > .timer {
	--timer-width: 6em;

	flex-direction: column;
	flex-basis: 0;
	padding: 0 8px;
}

.ladder-details__inner .timer .main {
	display: flex;
	align-self: center;
	justify-content: space-between;
	width: var(--timer-width);
}

.ladder-details__inner .timer .bar {
	display: flex;
	justify-content: center;
	width: var(--timer-width);
	margin: 0 auto;
}

.ladder-details__inner > .timer .bar--red {
	border-bottom: 2px solid #fa3f32;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.ladder-details__inner > .timer .bar--blue {
	border-bottom: 2px solid #295ccd;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.ladder-details .name {
	white-space: nowrap;
	font-weight: bold;
}

@media (max-width: 500px) {
	.ladder-details__inner {
		display: block;
	}

	.ladder-details__inner > div {
		padding: 2px 0;
	}
	
	.ladder-details__inner > .red,
	.ladder-details__inner > .timer,
	.ladder-details__inner > .blue {
		justify-content: center;
	}
}
