  /* CSS for game board */

  body {background-color: #1b0a26;}

  @keyframes backrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

  #fullBoard {
  position: relative;
  top: -30px; left: 300px;
  }

  #board {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 840px;
  height: 840px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 5s;
  }

  #latinring {
  animation: backrotation 80s infinite linear;
  position: absolute;
  top: -100px;
  left: -115px;
  width: 1195px;
  height: auto;
  z-index: -2;
}

#runering {
  animation: rotation 80s infinite linear;
  position: absolute;
  top: 185px;
  left: 190px;
  width: 580px;
  height: auto;
  z-index: -2;
}


  .spelltext{
    display: none;
    font-family: Papyrus;
    text-align: center;
    font-size: 15px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: BurlyWood;
    padding: 15px 15px;
  }

  #major1 {
  position: absolute;
  top: 519px;
  left: 107px;
  width: 209px;
  height: 209px;
  transform: rotate(59deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2.5s;
  }

  #majornodes1 {
  position: absolute;
  top: 519px;
  left: 107px;
  width: 209px;
  height: 209px;
  transform: rotate(60deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #majortext1 {
  position: absolute;
  top: 560px;
  left: 318px;
}

  #major2 {
  position: absolute;
  top: 519px;
  left: 638px;
  width: 209px;
  height: 209px;
  transform: rotate(300deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2.5s;
  }

  #majornodes2 {
  position: absolute;
  top: 519px;
  left: 638px;
  width: 209px;
  height: 209px;
  transform: rotate(301deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #majortext2 {
  position: absolute;
  top: 560px;
  left: 845px;
}

  #major3 {
  position: absolute;
  top: 64px;
  left: 372px;
  width: 209px;
  height: 209px;
  transform: rotate(180deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1s;
}



#majornodes3 {
  position: absolute;
  top: 64px;
  left: 372px;
  width: 209px;
  height: 209px;
  transform: rotate(181deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
}

 #majortext3 {
  position: absolute;
  top: 100px;
  left: 578px;
}

  #minor1 {
  position:absolute;
  top: 693.5px;
  left: 394.5px;
  width: 166px;
  height: 166px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3.5s;
  }

  #minornodes1 {
  position:absolute;
  top: 693.5px;
  left: 394.5px;
  width: 166px;
  height: 166px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext1 {
  position:absolute;
  top: 715px;
  left: 557px;

  }


  #minor2 {
  position:absolute;
  top: 237px;
  left: 660.5px;
  width: 166px;
  height: 166px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1.5s;
  }

  #minornodes2 {
  position:absolute;
  top: 237px;
  left: 660.5px;
  width: 166px;
  height: 166px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext2 {
  position:absolute;
  top: 255px;
  left: 823px;
  }

  #minor3 {
  position:absolute;
  top: 236.5px;
  left: 128px;
  width: 166px;
  height: 166px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1.5s;
  }


  #minornodes3 {
  position:absolute;
  top: 236.5px;
  left: 128px;
  width: 166px;
  height: 166px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext3 {
  position:absolute;
  top: 252px;
  left: 294px;
  }


  #charm1 {
  position:absolute;
  top: 584px;
  left: 387px;
  width: 95px;
  height: 95px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3s;
  }

  #charmnodes1 {
  position:absolute;
  top: 609.5px;
  left: 415px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext1 {
  position:absolute;
  top: 570px;
  left: 478px;
  }


  #charm2 {
  position:absolute;
  top: 382px;
  left: 589.5px;
  width: 95px;
  height: 95px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
  }

  #charmnodes2 {
  position:absolute;
  top: 410px;
  left: 618px;
  width: 40px;
  height: 40px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext2 {
  position:absolute;
  top: 375px;
  left: 697px;
  }


  #charm3 {
  position:absolute;
  top: 308px;
  left: 311.5px;
  width: 95px;
  height: 95px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
  }

#charmnodes3 {
  position:absolute;
  top: 334px;
  left: 339px;
  width: 40px;
  height: 40px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext3 {
  position:absolute;
  top: 285px;
  left: 420px;

  }



  .stone{
  width: 30px;
  height: 30px;
  animation: twinkle 4s linear infinite;
  }

  @keyframes twinkle{
    0% {filter: brightness(75%);}
    50% {filter: brightness(110%);}
    100% {filter: brightness(75%);}
  }


 #a1 {
  position: absolute;
  top: 554px;
  left: 55px;
  }


  #a2 {
  position: absolute;
  top: 639.5px;
  left: 145px;
  }

  #a3 {
  position: absolute;
  top: 667.5px;
  left: 210.5px;
  }

  #a4 {
  position: absolute;
  top: 614px;
  left: 256.5px;
  }

  #a5 {
  position: absolute;
  top: 554px;
  left: 220px;
  }

  #a6 {
  position: absolute;
  top: 569px;
  left: 151px;
  }

  #a7 {
  position: absolute;
  top: 615px;
  left: 420px;
  }

  #a8 {
  position: absolute;
  top: 716.5px;
  left: 462.5px;
  }


   #a9 {
  position: absolute;
  top: 784px;
  left: 423px;
  }

  #a10 {
  position: absolute;
  top: 783.5px;
  left: 502px;
  }



  #a11 {
  position: absolute;
  top: 457px;
  left: 131.5px;
  }

  #a12 {
  position: absolute;
  top: 457px;
  left: 277px;
  }

  #a13 {
  position: absolute;
  top: 740.5px;
  left: 297px;
  }

  #b1 {
  position: absolute;
  top: 758px;
  left: 751px;
  }

  #b2 {
  position: absolute;
  top: 638.5px;
  left: 780px;
  }

  #b3 {
  position: absolute;
  top: 568.5px;
  left: 772.5px;
  }

  #b4 {
  position: absolute;
  top: 554px;
  left: 703px;
  }

  #b5 {
  position: absolute;
  top: 615px;
  left: 668px;
  }

  #b6 {
  position: absolute;
  top: 668px;
  left: 715.5px;
  }

  #b7 {
  position: absolute;
  top: 415px;
  left: 623px;
  }

  #b8 {
  position: absolute;
  top: 327.5px;
  left: 689.5px;
  }

  #b9 {
  position: absolute;
  top: 328px;
  left: 767.5px;
  }

  #b10 {
  position: absolute;
  top: 259.5px;
  left: 728px;
  }

  #b11 {
  position: absolute;
  top: 741px;
  left: 627px;
  }

  #b12 {
  position: absolute;
  top: 616.5px;
  left: 555px;
  }

  #b13 {
  position: absolute;
  top: 457px;
  left: 792.5px;
  }

  #c1 {
  position: absolute;
  top: 58px;
  left: 581px;
  }

  #c2 {
  position: absolute;
  top: 93.5px;
  left: 461.5px;
  }

  #c3 {
  position: absolute;
  top: 135px;
  left: 404px;
  }

  #c4 {
  position: absolute;
  top: 202px;
  left: 426px;
  }

  #c5 {
  position: absolute;
  top: 202px;
  left: 496.5px;
  }

  #c6 {
  position: absolute;
  top: 135px;
  left: 519px;
  }

  #c7 {
  position: absolute;
  top: 339px;
  left: 344px;
  }

  #c8 {
  position: absolute;
  top: 327px;
  left: 235px;
  }

  #c9 {
  position: absolute;
  top: 259.5px;
  left: 196.5px;
  }

  #c10 {
  position: absolute;
  top: 327.5px;
  left: 157px;
  }

  #c11 {
  position: absolute;
  top: 173.5px;
  left: 627px;
  }

  #c12 {
  position: absolute;
  top: 298px;
  left: 554.5px;
  }

  #c13 {
  position: absolute;
  top: 173px;
  left: 297px;
  }






    .dashbutton {
    visibility: hidden;
    position: relative;
    top: 30px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: OrangeRed;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;

  }

  .dashbutton:hover {
    background-color: #ff885c;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .passbutton{
    visibility: hidden;
    position: relative;
    top: 60px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: LightSlateGrey;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .passbutton:hover {
    background-color: LightSteelBlue;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .resetbutton{
    visibility: hidden;
    position: relative;
    top: 90px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: LimeGreen;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .resetbutton:hover {
    background-color: Lime;
    transition-property: background-color;
    transition-duration: .5s;
  }


  .doneselectingbutton{
    visibility: hidden;
    position: relative;
    top: 120px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: CornflowerBlue;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .doneselectingbutton:hover {
    background-color: LightSkyBlue;
    transition-property: background-color;
    transition-duration: .5s;
  }




#actionBox {
  font-family: Papyrus;
  color: white;
  width:20%;
  height:20%;
  border: none;
  overflow: scroll;
  }


  #whoseturndisplay {
  font-family: Papyrus;
  color: white;
  width:20%;
  height: 10%;
  border: none;
  font-size: 18px;
  }

  #redcountdown {
    color: white;
    font-family: Papyrus;
    width:20%;
    height: 10%;
    border: none;
    font-size: 18px;
  }

  #bluecountdown {
    color: white;
    font-family: Papyrus;
    width:20%;
    height: 10%;
    border: none;
    font-size: 18px;
  }


  #scorekeeper {
    width: 30px;
    height: 30px;
    opacity: 0;
    transition-duration: 1s;
    transition-property: left, top, opacity;
    animation: twinkle 4s linear infinite;
  }


  .scoretied {
    position: absolute;
    top: 456.5px;
    left: 462.5px;
  }

  .scorer1 {
    position: absolute;
    top: 432.5px;
    left: 419.5px;
  }

  .scorer2 {
    position: absolute;
    top: 407.5px;
    left: 462.5px;
  }

  .scorer3 {
    position: absolute;
    top: 431.5px;
    left: 505.5px;
  }

  .scoreb1 {
    position: absolute;
    top: 480.5px;
    left: 505.5px;
  }

  .scoreb2 {
    position: absolute;
    top: 506px;
    left: 462.5px;
  }

  .scoreb3 {
    position: absolute;
    top: 482px;
    left: 419.5px;
  }


/* Beginning of Locks */

#redlocka1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 728px;
    left: 234px;
  }

  #redlocka2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 795px;
    left: 560px;
  }

  #redlockb1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 504px;
    left: 814px;
  }

  #redlockb2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 190px;
    left: 709px;
  }

  #redlockc1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 113px;
    left: 338px;
  }

  #redlockc2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 367px;
    left: 116px;
  }


  #redlocka1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 733px;
    left: 180px;
  }

  #redlocka2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 839px;
    left: 531px;
  }

  #redlockb1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 553px;
    left: 847px;
  }

  #redlockb2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 194px;
    left: 761px;
  }

  #redlockc1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 367px;
  }

  #redlockc2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 312px;
    left: 93px;
  }




  

  #bluelocka1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 728px;
    left: 234px;
  }

  #bluelocka2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 795px;
    left: 560px;
  }

  #bluelockb1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 504px;
    left: 814px;
  }

  #bluelockb2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 190px;
    left: 709px;
  }

  #bluelockc1 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 113px;
    left: 338px;
  }

  #bluelockc2 {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 367px;
    left: 116px;
  }


  #bluelocka1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 733px;
    left: 180px;
  }

  #bluelocka2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 839px;
    left: 531px;
  }

  #bluelockb1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 553px;
    left: 847px;
  }

  #bluelockb2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 194px;
    left: 761px;
  }

  #bluelockc1alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 367px;
  }

  #bluelockc2alt {
    opacity: 0;
    width: 30px;
    height: auto;
    position: absolute;
    top: 312px;
    left: 93px;
  }

/* End of Lock-Related Stuff */



#actionInput {
    visibility: hidden;
  }


  #chatBox {
    color: white;
    opacity: 0;
    font-family: Papyrus;
    width:18%;
    height:17.5%;
    overflow: scroll;
    position: absolute;
    top: 20px;
    left: 1200px;
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 3s;
  }

  #chatInput {
    visibility: hidden;
    background-color: #800080;
    color: white;
    opacity: 0;
    font-family: Papyrus;
    font-size: 15px;
    border: 2px solid black;
    width: 18%;
    height: 4%;
    position: absolute;
    top: 205px;
    left: 1200px;
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 3s;

  }







