  


  .moonrefill {
  position: relative;
  top: -3px;
  width: 17px;
  height: 24px;
  }

  .sunrefill {
  filter: brightness(130%);
  width: 30px;
  height: 30px;
  }

  #fullBoard {
  position: relative;
  top: 10px; left: 130px;
  }

  #board {
  filter:invert(100%);
  position: absolute;
  width: 950px;
  height: 950px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 5s;
  }


  .spelltext{
    display: none;
    font-family: Papyrus;
    text-align: center;
    font-size: 15px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: BurlyWood;
    padding: 15px 15px;
  }

  #major1 {
  position: absolute;
  top: 529px;
  left: 114px;
  width: 193px;
  height: 193px;
  transform: rotate(59deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2.5s;
  }

  #majornodes1 {
  position: absolute;
  top: 529px;
  left: 114px;
  width: 193px;
  height: 193px;
  transform: rotate(60deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #majortext1 {
  position: absolute;
  top: 560px;
  left: 312px;
}

  #major2 {
  position: absolute;
  top: 530.5px;
  left: 648px;
  width: 193px;
  height: 193px;
  transform: rotate(300deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2.5s;
  }

  #majornodes2 {
  position: absolute;
  top: 530.5px;
  left: 648px;
  width: 193px;
  height: 193px;
  transform: rotate(301deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #majortext2 {
  position: absolute;
  top: 560px;
  left: 845px;
}

  #major3 {
  position: absolute;
  top: 70.5px;
  left: 379px;
  width: 193px;
  height: 193px;
  transform: rotate(180deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1s;
}


#majornodes3 {
  position: absolute;
  top: 70.5px;
  left: 379px;
  width: 193px;
  height: 193px;
  transform: rotate(181deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
}

 #majortext3 {
  position: absolute;
  top: 100px;
  left: 578px;
}

  #minor1 {
  position:absolute;
  top: 700.5px;
  left: 398px;
  width: 152px;
  height: 152px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3.5s;
  }

  #minornodes1 {
  position:absolute;
  top: 700.5px;
  left: 398px;
  width: 152px;
  height: 152px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext1 {
  position:absolute;
  top: 715px;
  left: 557px;

  }


  #minor2 {
  position:absolute;
  top: 244px;
  left: 664.5px;
  width: 151px;
  height: 151px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1.5s;
  }

  #minornodes2 {
  position:absolute;
  top: 244px;
  left: 664.5px;
  width: 151px;
  height: 151px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext2 {
  position:absolute;
  top: 255px;
  left: 823px;
  }

  #minor3 {
  position:absolute;
  top: 241px;
  left: 136px;
  width: 151px;
  height: 151px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1.5s;
  }


  #minornodes3 {
  position:absolute;
  top: 241px;
  left: 136px;
  width: 151px;
  height: 151px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #minortext3 {
  position:absolute;
  top: 252px;
  left: 294px;
  }


  #charm1 {
  position:absolute;
  top: 584px;
  left: 378px;
  width: 94px;
  height: 94px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3s;
  }

  #charmnodes1 {
  position:absolute;
  top: 609.5px;
  left: 405px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext1 {
  position:absolute;
  top: 570px;
  left: 478px;
  }


  #charm2 {
  position:absolute;
  top: 393px;
  left: 595px;
  width: 94px;
  height: 94px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
  }

  #charmnodes2 {
  position:absolute;
  top: 417px;
  left: 623px;
  width: 40px;
  height: 40px;
  transform: rotate(240deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext2 {
  position:absolute;
  top: 375px;
  left: 697px;
  }


  #charm3 {
  position:absolute;
  top: 301px;
  left: 318px;
  width: 94px;
  height: 94px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
  }

#charmnodes3 {
  position:absolute;
  top: 327.5px;
  left: 344px;
  width: 40px;
  height: 40px;
  transform: rotate(120deg);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 5s;
  }

  #charmtext3 {
  position:absolute;
  top: 285px;
  left: 420px;

  }


  .stone{
  width: 30px;
  height: 30px;
  opacity: 0;
  animation: twinkle 4s linear infinite;
  }

  @keyframes twinkle{
    0% {filter: brightness(75%);}
    50% {filter: brightness(110%);}
    100% {filter: brightness(75%);}
  }

 #a1 {
  position: absolute;
  top: 556px;
  left: 53px;
  }


  #a2 {
  position: absolute;
  top: 639px;
  left: 148px;
  }

  #a3 {
  position: absolute;
  top: 665px;
  left: 208px;
  }

  #a4 {
  position: absolute;
  top: 615px;
  left: 251px;
  }

  #a5 {
  position: absolute;
  top: 559.5px;
  left: 217.5px;
  }

  #a6 {
  position: absolute;
  top: 573.5px;
  left: 153.5px;
  }

  #a7 {
  position: absolute;
  top: 615px;
  left: 410px;
  }

  #a8 {
  position: absolute;
  top: 720.5px;
  left: 459px;
  }


   #a9 {
  position: absolute;
  top: 782px;
  left: 423px;
  }

  #a10 {
  position: absolute;
  top: 782.5px;
  left: 495px;
  }



  #a11 {
  position: absolute;
  top: 459px;
  left: 132.5px;
  }

  #a12 {
  position: absolute;
  top: 446px;
  left: 283px;
  }

  #a13 {
  position: absolute;
  top: 741.5px;
  left: 296.5px;
  }

  #b1 {
  position: absolute;
  top: 763.5px;
  left: 745.5px;
  }

  #b2 {
  position: absolute;
  top: 639.5px;
  left: 778px;
  }

  #b3 {
  position: absolute;
  top: 575px;
  left: 771px;
  }

  #b4 {
  position: absolute;
  top: 561.5px;
  left: 706.5px;
  }

  #b5 {
  position: absolute;
  top: 618px;
  left: 674.5px;
  }

  #b6 {
  position: absolute;
  top: 667px;
  left: 718px;
  }

  #b7 {
  position: absolute;
  top: 422px;
  left: 628px;
  }

  #b8 {
  position: absolute;
  top: 325.5px;
  left: 690px;
  }

  #b9 {
  position: absolute;
  top: 325.6px;
  left: 761px;
  }

  #b10 {
  position: absolute;
  top: 263.5px;
  left: 725px;
  }

  #b11 {
  position: absolute;
  top: 744px;
  left: 626px;
  }

  #b12 {
  position: absolute;
  top: 616.5px;
  left: 542px;
  }

  #b13 {
  position: absolute;
  top: 458.6px;
  left: 789px;
  }

  #c1 {
  position: absolute;
  top: 58px;
  left: 579px;
  }

  #c2 {
  position: absolute;
  top: 97px;
  left: 460.6px;
  }

  #c3 {
  position: absolute;
  top: 135px;
  left: 407.5px;
  }

  #c4 {
  position: absolute;
  top: 197px;
  left: 428px;
  }

  #c5 {
  position: absolute;
  top: 196.5px;
  left: 493px;
  }

  #c6 {
  position: absolute;
  top: 135px;
  left: 513px;
  }

  #c7 {
  position: absolute;
  top: 332.3px;
  left: 349px;
  }

  #c8 {
  position: absolute;
  top: 322px;
  left: 232px;
  }

  #c9 {
  position: absolute;
  top: 261px;
  left: 196.5px;
  }

  #c10 {
  position: absolute;
  top: 322.4px;
  left: 161px;
  }

  #c11 {
  position: absolute;
  top: 174.6px;
  left: 622.5px;
  }

  #c12 {
  position: absolute;
  top: 310.5px;
  left: 559.5px;
  }

  #c13 {
  position: absolute;
  top: 168px;
  left: 295px;
  }







    .dashbutton {
    visibility: hidden;
    position: relative;
    top: 30px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: OrangeRed;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;

  }

  .dashbutton:hover {
    background-color: #ff885c;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .passbutton{
    visibility: hidden;
    position: relative;
    top: 60px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: LightSlateGrey;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .passbutton:hover {
    background-color: LightSteelBlue;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .resetbutton{
    visibility: hidden;
    position: relative;
    top: 90px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: LimeGreen;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .resetbutton:hover {
    background-color: Lime;
    transition-property: background-color;
    transition-duration: .5s;
  }


  .doneselectingbutton{
    visibility: hidden;
    position: relative;
    top: 120px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: CornflowerBlue;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .doneselectingbutton:hover {
    background-color: LightSkyBlue;
    transition-property: background-color;
    transition-duration: .5s;
  }



  .startbutton{
    position: absolute;
    top: 100px;
    left: 450px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: MediumSeaGreen;
    padding: 20px 28px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  .startbutton:hover {
    background-color: SpringGreen;
    transition-property: background-color;
    transition-duration: .5s;
  }






#actionBox {
  font-family: Papyrus;
  width:20%;
  height:20%;
  border: none;
  overflow: scroll;
  }


  #whoseturndisplay {
  font-family: Papyrus;
  width:20%;
  height: 10%;
  border: none;
  font-size: 18px;
  }

  #redcountdown {
  font-family: Papyrus;
  width:20%;
  height: 10%;
  border: none;
  font-size: 18px;

  }

  #bluecountdown {
  font-family: Papyrus;
  width:20%;
  height: 10%;
  border: none;
  font-size: 18px;

  }


  #scorekeeper {
  width: 30px;
  height: 30px;
  opacity: 0;
  transition-duration: 1s;
  transition-property: left, top, opacity;
  animation: twinkle 4s linear infinite;
  }


  .scorer1 {
  position: absolute;
  top: 493px;
  left: 430px;
  }

  .scorer2 {
  position: absolute;
  top: 538px;
  left: 458px;
  }

  .scorer3 {
  position: absolute;
  top: 482px;
  left: 488px;
  }

  .scoreb1 {
  position: absolute;
  top: 423px;
  left: 430px;
  }

  .scoreb2 {
  position: absolute;
  top: 379px;
  left: 460px;
  }

  .scoreb3 {
  position: absolute;
  top: 437px;
  left: 488px;
  }


/* Beginning of Lock-Related Stuff */

  .redlocka1start {
  transform: rotate(59deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka1end {
  transform: rotate(329deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka2start {
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka2end {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }

.redlockb1start {
  transform: rotate(37deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb1end {
  transform: rotate(307deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb2start {
  transform: rotate(60deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb2end {
  transform: rotate(330deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc1start {
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc1end {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc2start {
  transform: rotate(30deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc2end {
  transform: rotate(300deg);
  transition-property: transform;
  transition-duration: 2s;
  }


  .redlocka1altstart {
  transform: rotate(40deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka1altend {
  transform: rotate(310deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka2altstart {
  transform: rotate(65deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlocka2altend {
  transform: rotate(335deg);
  transition-property: transform;
  transition-duration: 2s;
  }

.redlockb1altstart {
  transform: rotate(6deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb1altend {
  transform: rotate(276deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb2altstart {
  transform: rotate(30deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockb2altend {
  transform: rotate(300deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc1altstart {
  transform: rotate(65deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc1altend {
  transform: rotate(335deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc2altstart {
  transition-property: transform;
  transition-duration: 2s;
  }

  .redlockc2altend {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }




.bluelocka1start {
  transform: rotate(59deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka1end {
  transform: rotate(329deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka2start {
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka2end {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }

.bluelockb1start {
  transform: rotate(37deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb1end {
  transform: rotate(307deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb2start {
  transform: rotate(60deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb2end {
  transform: rotate(330deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc1start {
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc1end {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc2start {
  transform: rotate(30deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc2end {
  transform: rotate(300deg);
  transition-property: transform;
  transition-duration: 2s;
  }


  .bluelocka1altstart {
  transform: rotate(40deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka1altend {
  transform: rotate(310deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka2altstart {
  transform: rotate(65deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelocka2altend {
  transform: rotate(335deg);
  transition-property: transform;
  transition-duration: 2s;
  }

.bluelockb1altstart {
  transform: rotate(6deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb1altend {
  transform: rotate(276deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb2altstart {
  transform: rotate(30deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockb2altend {
  transform: rotate(300deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc1altstart {
  transform: rotate(65deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc1altend {
  transform: rotate(335deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc2altstart {
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockc2altend {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }






  .redlockcirclestart {
  opacity: 0;
  width: 45px;
  height: 45px;
  transition-property: opacity;
  transition-duration: 2s;
  }

  .redlockcircleend {
  opacity: 1;
  width: 45px;
  height: 45px;
  transition-property: opacity;
  transition-duration: 2s;
  }

  .redleftbarstart {
  position: absolute;
  left: -22px;
  top: 19px;
  width: 25px;
  height: 7px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

  .redleftbarend {
  position: absolute;
  left: 2px;
  top: 19px;
  width: 25px;
  height: 7px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

  .redrightbarstart {
  position: absolute;
  top: 19px;
  left: 42px;
  width: 25px;
  height: 7px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

.redrightbarend {
  position: absolute;
  top: 19px;
  left: 18.5px;
  width: 25px;
  height: 7px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.redtopbarstart {
  position: absolute;
  top: -22px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.redtopbarend {
  position: absolute;
  top: 2px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.redbottombarstart {
  position: absolute;
  top: 42px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.redbottombarend {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.bluelockstart {
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockend {
  transform: rotate(270deg);
  transition-property: transform;
  transition-duration: 2s;
  }

  .bluelockcirclestart {
  opacity: 0;
  width: 45px;
  height: 45px;
  transition-property: opacity;
  transition-duration: 2s;
  }

  .bluelockcircleend {
  opacity: 1;
  width: 45px;
  height: 45px;
  transition-property: opacity;
  transition-duration: 2s;
  }

  .blueleftbarstart {
  position: absolute;
  left: -22px;
  top: 19px;
  width: 25px;
  height: 7px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

  .blueleftbarend {
  position: absolute;
  left: 2px;
  top: 19px;
  width: 25px;
  height: 7px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

  .bluerightbarstart {
  position: absolute;
  top: 19px;
  left: 42px;
  width: 25px;
  height: 7px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
  }

.bluerightbarend {
  position: absolute;
  top: 19px;
  left: 18.5px;
  width: 25px;
  height: 7px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.bluetopbarstart {
  position: absolute;
  top: -22px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.bluetopbarend {
  position: absolute;
  top: 2px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.bluebottombarstart {
  position: absolute;
  top: 42px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 0;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}

.bluebottombarend {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 7px;
  height: 25px;
  opacity: 1;
  transition-property: left, top, opacity;
  transition-duration: 2s;
}


  #redlocka1 {
  position: absolute;
  top: 666px;
  left: 80.5px;
  }

  #redlocka2 {
  position: absolute;
  top: 864px;
  left: 449.4px;
  }

#redlockb1 {
  position: absolute;
  top: 667px;
  left: 823px;
  }

  #redlockb2 {
  position: absolute;
  top: 247px;
  left: 810px;
  }

  #redlockc1 {
  position: absolute;
  top: 21.4px;
  left: 452px;
  }

  #redlockc2 {
  position: absolute;
  top: 242.5px;
  left: 96.5px;
  }


  #redlocka1alt {
  position: absolute;
  top: 706px;
  left: 115px;
  }

  #redlocka2alt {
  position: absolute;
  top: 853px;
  left: 502px;
  }

#redlockb1alt {
  position: absolute;
  top: 617px;
  left: 842px;
  }

  #redlockb2alt {
  position: absolute;
  top: 205px;
  left: 772px;
  }

  #redlockc1alt {
  position: absolute;
  top: 31px;
  left: 398px;
  }

  #redlockc2alt {
  position: absolute;
  top: 297px;
  left: 82px;
  }

#bluelocka1 {
  position: absolute;
  top: 666px;
  left: 80.5px;
  }

  #bluelocka2 {
  position: absolute;
  top: 864px;
  left: 449.4px;
  }

#bluelockb1 {
  position: absolute;
  top: 667px;
  left: 823px;
  }

  #bluelockb2 {
  position: absolute;
  top: 247px;
  left: 810px;
  }

  #bluelockc1 {
  position: absolute;
  top: 21.4px;
  left: 452px;
  }

  #bluelockc2 {
  position: absolute;
  top: 242.5px;
  left: 96.5px;
  }


#bluelocka1alt {
  position: absolute;
  top: 706px;
  left: 115px;
  }

  #bluelocka2alt {
  position: absolute;
  top: 853px;
  left: 502px;
  }

#bluelockb1alt {
  position: absolute;
  top: 617px;
  left: 842px;
  }

  #bluelockb2alt {
  position: absolute;
  top: 205px;
  left: 772px;
  }

  #bluelockc1alt {
  position: absolute;
  top: 31px;
  left: 398px;
  }

  #bluelockc2alt {
  position: absolute;
  top: 297px;
  left: 82px;
  }

/* End of Lock-Related Stuff */



#actionInput {
    visibility: hidden;
  }


  #chatBox {
  opacity: 0;
  font-family: Papyrus;
  width:18%;
  height:17.5%;
  border: 1px solid black;
  overflow: scroll;
  position: absolute;
  top: 0px;
  left: 1030px;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3s;
  }

  #chatInput {
  visibility: hidden;
  opacity: 0;
  font-family: Papyrus;
  font-size: 15px;
  border: 1px solid black;
  width: 18%;
  height: 4%;
  position: absolute;
  top: 185px;
  left: 1030px;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 3s;

  }







