/* CSS for private match page */

body {background-color: #1b0a26;}

#privatematchdescription {
    position: absolute;
    top: 50px;
    left: 150px;
    text-align: center;
    font-size: 20px;
    font-family: Papyrus;
    color: white;
  }