<!DOCTYPE html>
<html>
	<head>
		<title>Sigil Online</title>

		<link
			rel="stylesheet"
			href="/static/gameboard.css"
		/>
		<link
			rel="icon"
			href="data:,"
		/>
	</head>

	<script src="/static/gameboard.js"></script>

	<body onload="main({{privategamename}});">
		<div id="fullBoard">
			<div>
				<img
					id="board"
					src="/static/images/boardcenter.png"
				/>

				<img
					id="latinring"
					src="/static/images/latinring.png"
				/>
				<img
					id="runering"
					src="/static/images/runering.png"
				/>
			</div>

			<!-- Void/Mana Stones -->
			<div>
				<img
					id="a1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="a11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<!-- End of Void/Mana Stones -->

			<!-- Spells & Their Stones & Text Boxes -->


			<p
				id="ritualtext1"
				class="spelltext"
			></p>

			<div id="ritualdiv1">
				<img
					id="ritual1"
					src="/static/images/emptystone.png"
				/>
				<img
					id="ritualnodes1"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="a2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext1"
				class="spelltext"
			></p>

			<div id="sorcerydiv1">
				<img
					id="sorcery1"
					src="/static/images/emptystone.png"
				/>
				<img
					id="sorcerynodes1"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="a8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext1"
				class="spelltext"
			></p>

			<div id="charmdiv1">
				<img
					id="charm1"
					src="/static/images/emptystone.png"
				/>
				<img
					id="charmnodes1"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="a7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="ritualtext2"
				class="spelltext"
			></p>

			<div id="ritualdiv2">
				<img
					id="ritual2"
					src="/static/images/emptystone.png"
				/>
				<img
					id="ritualnodes2"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="b2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext2"
				class="spelltext"
			></p>

			<div id="sorcerydiv2">
				<img
					id="sorcery2"
					src="/static/images/emptystone.png"
				/>
				<img
					id="sorcerynodes2"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="b8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext2"
				class="spelltext"
			></p>

			<div id="charmdiv2">
				<img
					id="charm2"
					src="/static/images/emptystone.png"
				/>
				<img
					id="charmnodes2"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="b7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="ritualtext3"
				class="spelltext"
			></p>

			<div id="ritualdiv3">
				<img
					id="ritual3"
					src="/static/images/emptystone.png"
				/>
				<img
					id="ritualnodes3"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="c2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext3"
				class="spelltext"
			></p>

			<div id="sorcerydiv3">
				<img
					id="sorcery3"
					src="/static/images/emptystone.png"
				/>
				<img
					id="sorcerynodes3"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="c8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext3"
				class="spelltext"
			></p>

			<div id="charmdiv3">
				<img
					id="charm3"
					src="/static/images/emptystone.png"
				/>
				<img
					id="charmnodes3"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="c7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<!-- End of Spells & Their Stones & Text Boxes -->

			<!-- Scorekeeper stone -->

			<div>
				<img
					id="scorekeeper"
					class="scoreb1"
					src="/static/images/bluestone.png"
				/>
			</div>

			<!-- End of Scorekeeper stone -->

			<!-- Locks -->

			<img
				id="redlocka1"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlocka2"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockb1"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockb2"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockc1"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockc2"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlocka1alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlocka2alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockb1alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockb2alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockc1alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="redlockc2alt"
				src="/static/images/redlock.png"
			/>

			<img
				id="bluelocka1"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelocka2"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockb1"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockb2"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockc1"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockc2"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelocka1alt"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelocka2alt"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockb1alt"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockb2alt"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockc1alt"
				src="/static/images/bluelock.png"
			/>

			<img
				id="bluelockc2alt"
				src="/static/images/bluelock.png"
			/>

			<!-- End Of Locks -->
		</div>

		<div id="actionBox">
			<b>Welcome to Sigil Online!</b>
		</div>

		<div>
			<b id="whoseturndisplay"></b>
		</div>

		<div>
			<b id="redcountdown"></b>
		</div>

		<div>
			<b id="bluecountdown"></b>
		</div>

		<div>
			<button
				type="button"
				id="dashbutton"
				class="dashbutton"
			>
				<b>Dash</b>
			</button>
		</div>

		<div>
			<button
				type="button"
				id="passbutton"
				class="passbutton"
			>
				<b>Pass</b>
			</button>
		</div>

		<div>
			<button
				type="button"
				id="resetbutton"
				class="resetbutton"
			>
				<b>Reset</b>
			</button>
		</div>

		<div>
			<button
				type="button"
				id="doneselectingbutton"
				class="doneselectingbutton"
			>
				<b>Done</b>
			</button>
		</div>

		<div id="chatBox">
			<b>Chat</b>
		</div>

		<input
			type="text"
			id="chatInput"
			onkeypress="chatInputKeypress();"
		/>
	</body>
</html>
