<!doctype html>
<html>
  <head>
    <title>Sigil Online</title>

    <link rel="stylesheet" href="/static/home.css">
    <link rel="icon" href="data:,">
  </head>

  <script src="/static/home.js"></script>

  <body onload="main();">

    <div id="WelcomeBox">
      <b>Sigil Online</b>
    </div>

    <div id="sigildescription">
      <b>Battle your opponent for control of the Sigil in this strategy board game of arcane magic.<br>Hover your cursor over the Sigil below to see how it works.</b>
    </div>

    <div>
      <button type="button" id="tutorialbutton" class="tutorialbutton" onclick="window.location.href='{{ url_for('tutorial') }}';">
        <b>Tutorial</b>
      </button>
    </div>

    <p id="tutorialtext" class="buttontext">Learn to play Sigil</p>

    <div>
      <button type="button" id="singleplayerbutton" class="singleplayerbutton" onclick="window.location.href='{{ url_for('singleplayer') }}';">
        <b>Single Player</b>
      </button>
    </div>

    <p id="singleplayertext" class="buttontext">Play a game against BetaSigil,<br>our rudimentary AI<br>(AlphaSigil is still in development)</p>

    <div>
      <button type="button" id="privatematchbutton" class="privatematchbutton" onclick="window.location.href='{{ url_for('privatematch') }}';">
        <b>Private Match</b>
      </button>
    </div>

    <p id="privatematchtext" class="buttontext">Play a private, unranked<br>game against a friend</p>

    <div>
      <button type="button" id="laddermatchbutton" class="laddermatchbutton" onclick="window.location.href='{{ url_for('laddermatch') }}';">
        <b>Ladder Match</b>
      </button>
    </div>

    <p id="laddermatchtext" class="buttontext">Play a ranked game<br>against a random opponent</p>


        <img id="latinring" src="/static/images/latinring.png"/>
        <img id="runering" src="/static/images/latinring.png"/>

    <div>
        <img id="boardcenter" src="/static/images/boardcenter.png"/>


        <img id="ritual1" src="/static/images/charmnodes.png"/>
        <img id="ritual2" src="/static/images/charmnodes.png"/>
        <img id="ritual3" src="/static/images/charmnodes.png"/>
        <p id="ritual1text" class="buttontext">This is a Ritual spell. When<br>you fill it with 5 stones,<br>you may sacrifice them all<br>for a powerful effect.</p>
        <p id="ritual2text" class="buttontext">This is a Ritual spell. When<br>you fill it with 5 stones,<br>you may sacrifice them all<br>for a powerful effect.</p>
        <p id="ritual3text" class="buttontext">This is a Ritual spell. When<br>you fill it with 5 stones,<br>you may sacrifice them all<br>for a powerful effect.</p>

        <img id="sorcery1" src="/static/images/charmnodes.png"/>
        <img id="sorcery2" src="/static/images/charmnodes.png"/>
        <img id="sorcery3" src="/static/images/charmnodes.png"/>
        <p id="sorcery1text" class="buttontext">This is a Sorcery spell. When<br>you fill it with 3 stones,<br>you may sacrifice them all<br>for a moderate effect.</p>
        <p id="sorcery2text" class="buttontext">This is a Sorcery spell. When<br>you fill it with 3 stones,<br>you may sacrifice them all<br>for a moderate effect.</p>
        <p id="sorcery3text" class="buttontext">This is a Sorcery spell. When<br>you fill it with 3 stones,<br>you may sacrifice them all<br>for a moderate effect.</p>

        <img id="charm1" src="/static/images/charmnodes.png"/>
        <img id="charm2" src="/static/images/charmnodes.png"/>
        <img id="charm3" src="/static/images/charmnodes.png"/>
        <p id="charm1text" class="buttontext">This is a Charm spell. When<br>you fill it with a stone,<br>you may sacrifice that stone<br>for a small effect.</p>
        <p id="charm2text" class="buttontext">This is a Charm spell. When<br>you fill it with a stone,<br>you may sacrifice that stone<br>for a small effect.</p>
        <p id="charm3text" class="buttontext">This is a Charm spell. When<br>you fill it with a stone,<br>you may sacrifice that stone<br>for a small effect.</p>

        <img id="mana1" src="/static/images/charmnodes.png"/>
        <img id="mana2" src="/static/images/charmnodes.png"/>
        <img id="mana3" src="/static/images/charmnodes.png"/>
        <p id="mana1text" class="buttontext">This is a mana node. If you have<br>a stone here, you can keep a stone<br>in your Rituals and Sorceries<br>when you cast them.</p>
        <p id="mana2text" class="buttontext">This is a mana node. If you have<br>a stone here, you can keep a stone<br>in your Rituals and Sorceries<br>when you cast them.</p>
        <p id="mana3text" class="buttontext">This is a mana node. If you have<br>a stone here, you can keep a stone<br>in your Rituals and Sorceries<br>when you cast them.</p>

         <img id="scorekeeper" src="/static/images/charmnodes.png"/>
         <p id="scorekeepertext" class="buttontext">A player wins if they have 3 more stones<br>than their opponent at the end of any turn.<br>Place a blue stone in this scorekeeping track, and<br>use it to track which player has more stones.<br><br>Red gets to make the first move, but the scorekeeping<br>stone is blue, so the score starts at blue +1.</p>
    </div>

    <div id="pineislandgames">
        Sigil will also be available as a tabletop game (coming soon to Kickstarter!) from <a href="https://www.pineislandgames.com" target="_blank" rel="noopener noreferrer" style="color: hotpink;">Pine Island Games</a>.<br>Join the Pine Island mailing list for details and updates!</b>
    </div>
  </body>
</html>



