{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
	body > .main {
		padding-top: 0;
	}

	ul > li {
		flex-grow: 1;
		flex-basis: 592px;
	}

	ul > li.half {
		flex-basis: 296px;
	}

	.intro {
		color: #dddcdd;
		font-family: overlock, sans-serif;
		font-size: 31px;
		padding: 32px;
		padding-top: 32px;
	}

	@media (min-width: 700px) {
		.intro {
			padding-bottom: 64px;
			padding-top: 64px;
		}
	}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div>
	<div class="margin-horizontal:auto max-width:800">
		<p class="intro">
			Battle your opponent for control of the Sigil in this strategy board game of arcane magic.
		</p>

		<ul
			class="display:flex flex-wrap:wrap column-gap:44 padding-horizontal:32 row-gap:16 @mq-700--row-gap:32"
		>
			<li class="half">
				<a
					class="menu-button large dark"
					title="Learn to play"
					href="/tutorial"
					>Tutorial</a
				>
			</li>
			<li class="half">
				<a
					class="menu-button large dark"
					title="Strategy guides, product updates, and more"
					href="https://pineislandgames.com/sigil"
					>Learn More</a
				>
			</li>
			<li class="half">
				<a
					class="menu-button large dark"
					title="Talk strategy & find opponents"
					href="https://discord.gg/vTSjFjydFE"
					>Discord</a
				>
			</li>
			<li>
				<a
					class="menu-button large"
					title="Hone your skills"
					href="/single-player"
					>Single Player</a
				>
			</li>
			<li>
				<a
					class="menu-button large"
					title="Challenge your friends"
					href="/private-match"
					>Private Match</a
				>
			</li>
			<li>
				<a
					class="menu-button large"
					title="Test your skills"
					href="/ladder-match"
					>Ladder Match</a
				>
			</li>
		</ul>
	</div>
</div>
<div style="flex-basis: 100vh; min-height: 32px"></div>
<div class="display:grid gap:24 margin-horizontal:auto max-width:600 padding:32 text-align:center">
	<a
		href="https://static1.squarespace.com/static/60b3f6f38856205429878909/t/63c012ac40af676dfa825d33/1673532079526/Sigil+Rulebook+01-12-2023+ScreenReview.pdf"
		target="_blank"
		class="link"
		>Comprehensive Rules</a
	>
	<p class="color:dddcdd font-family:arvo font-size:16 line-height:1.4375 @mq-700--font-size:20">
		Sigil will also be available as a tabletop game and coming soon to Kickstarter!
	</p>
	<a href="https://www.pineislandgames.com/"
		><img
			class="@mq-700--width:200"
			alt="Pine Island Games"
			src="/static/images/pine-island-games-logo.png"
			width="140"
	/></a>
</div>
{% endblock %}
