{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
	body > .main {
		padding-top: 0;
	}

	ul > li {
		flex-grow: 1;
		flex-basis: 592px;
	}

	ul > li.half {
		flex-basis: 296px;
	}

	.intro {
		color: #dddcdd;
		font-family: overlock, sans-serif;
		font-size: 31px;
		padding: 32px;
		padding-top: 32px;
	}

	@media (min-width: 700px) {
		.intro {
			padding-bottom: 64px;
			padding-top: 64px;
		}
	}

	#ladder a[disabled=true] {
		filter: grayscale(85%);
		opacity: 0.4;
	}

	#ladder .hocus {
		display: none;
		font-size: min(5vw, 31px);
	}

	#ladder a[disabled=true]:focus .default,
	#ladder:hover a[disabled=true] .default {
		display: none;
	}

	#ladder a[disabled=true]:focus .hocus,
	#ladder:hover a[disabled=true] .hocus {
		display: inline;
	}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div>
	<div class="margin-horizontal:auto max-width:800">
		<p class="intro">
			Battle your opponent for control of the Sigil in this strategy board game of arcane magic.
		</p>

		<ul
			class="display:flex flex-wrap:wrap column-gap:44 padding-horizontal:32 row-gap:16 @mq-700--row-gap:32"
		>
			<li class="half">
				<a
					class="menu-button large dark"
					href="/tutorial"
					>Tutorial</a
				>
			</li>
			<li class="half">
				<a
					class="menu-button large dark"
					href="https://discord.gg/vTSjFjydFE"
					>Discord</a
				>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/single-player"
					>Single Player</a
				>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/private-match"
					>Private Match</a
				>
			</li>
			<li id="ladder">
				<a
					class="menu-button large"
					href="/ladder-match"
				>
					<span class="default">Ladder Match</span>
					<span class="hocus">Thursdays 6pm - 12pm ET</span>
				</a>
			</li>
		</ul>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.40/moment-timezone-with-data-10-year-range.min.js"></script>
		<script>
			//disable ladder button unless within time window
			const nowEastern = moment().tz('America/New_York');
			const isThursdayEastern = nowEastern.format('dddd') === 'Thursday';
			const startEastern = moment.tz('6:00 PM', 'hh:mm A', 'America/New_York');
			const endEastern = moment(startEastern).add(6, 'h');
			const enableLadder = isThursdayEastern && nowEastern.isBetween(startEastern, endEastern);
			if (!enableLadder) {
				const ladderBtn = document.querySelector('#ladder a');
				ladderBtn.setAttribute('disabled', 'true');
			}
		</script>
	</div>
</div>
<div style="flex-basis: 100vh; min-height: 32px"></div>
<div class="display:grid gap:24 margin-horizontal:auto max-width:600 padding:32 text-align:center">
	<p class="color:dddcdd font-family:arvo font-size:16 line-height:1.4375 @mq-700--font-size:20">
		Sigil will also be available as a tabletop game and coming soon to Kickstarter!
	</p>
	<a href="https://www.pineislandgames.com/"
		><img
			class="@mq-700--width:200"
			alt="Pine Island Games"
			src="/static/images/pine-island-games-logo.png"
			width="140"
	/></a>
</div>
{% endblock %}
