{% extends "layout.html" %}

{% block title %}Ladder Match - {% endblock %}

{% block head %}
{{ super() }}
<style>
	.ladder-match {
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		font-family: Papyrus, serif;
		font-size: 20px;
		color: white;
	}

	.ladder-match .prompt {
		font-weight: bold;
		padding: 10px;
		padding-bottom: 20px;
	}

	@media (max-width: 400px) {
		.ladder-match .prompt br {
			display: none;
		}
	}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="ladder-match">
	<div class="prompt">
		Join the queue to play a ranked game<br />
		against a random opponent.
	</div>
	<a
		class="menu-button"
		href="{{ url_for('laddergame') }}"
		>Join Ladder Match Queue</a
	>
</div>
{% endblock %}
