<!DOCTYPE html>
<html
	id="html"
	class="height:100%"
	lang="en"
>
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge"
		/>
		<link
			href="/static/css/global.css"
			rel="stylesheet"
		/>
		<link
			href="/static/css/layout.css"
			rel="stylesheet"
		/>
		<link
			href="/static/css/styles.css"
			rel="stylesheet"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Arvo&family=Overlock&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://use.typekit.net/rot4udi.css"
			rel="stylesheet"
		/>
		<title>{% block title %}{% endblock %}Sigil Online</title>
		{% endblock %}
	</head>

	<body>
		<header>
			<div class="container">
				<div class="header-container">
					<div></div>
					<h1>
						<a href="/">
							<span class="visually-hidden">Sigil Online</span>
							<img
								class="max-width:100%"
								alt=""
								src="/static/images/sigil-online-logo.svg"
								height="36"
								width="287"
							/>
						</a>
					</h1>
					<div
						class="login-status-container"
						x-data="{ name: '{{current_user_name}}' }"
					>
						<div
							x-show="name === ''"
							x-cloak
						>
							<a
								class="link login"
								href="/login"
								>Login</a
							>
						</div>
						<div
							x-show="name !== ''"
							x-cloak
						>
							<div x-text="name" class="spacer">
								<!-- spacer so that, when user is logged in and screen is narrow, the user name doesn't overlap logo -->
							</div>
							<div class="menu-container">
								<div class="menu-container__inner">
									<input
										id="menu"
										type="checkbox"
										name="menu"
									/>
									<label
										class="link"
										for="menu"
										x-text="name"
									></label>
									<ul class="submenu">
										<li>
											<a
												class="link"
												href="/profile"
												>Profile</a
											>
										</li>
										<li>
											<a
												class="link"
												href="/logout"
												>Logout</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="main">{% block content %} {% endblock %}</div>
		<script src="https://unpkg.com/alpinejs@3.10.4/dist/cdn.min.js"></script>
	</body>
</html>

