{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
	header {
		position: absolute;
	}

	body > .main {
		padding-top: 0px;
	}
</style>
<link
	href="/static/css/help.css"
	rel="stylesheet"
/>
<script src="/static/scripts/help.js"></script>
<script>
	var webpDetector = new Image();
	webpDetector.onload = function () {
		document.documentElement.classList.add('webp');
	};
	webpDetector.src =
		'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=';
</script>
{% endblock %}

{% block headerLeft %}
<h1 class="logo">
	<a href="/"
		><span class="visually-hidden">Sigil Online</span
		><img
			alt=""
			src="/static/images/logo-icon.svg"
			height="40"
			width="32"
	/></a>
</h1>
{% endblock %}

{% block headerMiddle %}{% endblock %}

{% block content %}
<div class="container">
	<div class="help-menu-container">
		<input
			id="help-menu"
			type="checkbox"
		/>
		<label
			class="link"
			for="help-menu"
			>Rules</label
		>
		<div class="submenu-container">
			<ul class="submenu">
				<li>
					<button class="link turn-structure-btn">Turn Structure</button>
				</li>
				<li>
					<button class="link glossary-btn">Glossary</button>
				</li>
			</ul>
			<div class="content">
				<div class="glossary">
					<p>
						<strong>Soft Move</strong><br />
						Place a stone into an empty node (cannot push/crush an enemy). Must still be adjacent to
						one of your stones, unless it's a soft blink move.
					</p>
					<br />
					<p>
						<strong>Hard Move</strong><br />
						Place a stone into an enemy-occupied node (MUST push/crush an enemy). Must still be
						adjacent to one of your stones, unless it's a hard blink move.
					</p>
					<br />
					<p>
						<strong>Blink Move</strong><br />
						Place a stone anywhere on the board (need not be adjacent to one of your stones).
					</p>
					<br />
					<p>
						<strong>Dash</strong><br />
						Optional action after your standard move but before casting a spell. First sacrifice 2
						stones, then make 1 move (hard or soft). Must still be adjacent.
					</p>
					<br />
					<p>
						<strong>Static</strong><br />
						A spell that grants a permanent effect and is not cast. You must fully occupy the spell
						to gain its effect.
					</p>
				</div>
				<div class="turn-structure">
					<div>1. Standard move</div>
					<div>2. Dash (optional)</div>
					<div>3. Cast spell (optional)</div>
					<div class="indent">
						&bull; sacrifice stones<br />
						&bull; mana refill (3 and 5 node only)<br />
						&bull; resolve effect<br />
						&bull; lock spell (3 and 5 node only)<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
