{% extends "layout.html" %}

{% block title %}Private Match - {% endblock %}

{% block head %}
{{ super() }}
<link
	rel="stylesheet"
	href="/static/privatematch.css"
/>
<style>
	body > .main {
		padding-top: 0;
	}
</style>
<script src="/static/scripts/private-match.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div>
	<div class="margin-horizontal:auto max-width:800">
		<p
			class="color:dddcdd font-family:overlock font-size:31 padding:32 @mq-700--padding-vertical:64 text-align:center"
			id="privatematchdescription"
			name="privatematchdescription"
		>
			Play a private, unranked game against a friend.
		</p>
	</div>

	<div class="margin-horizontal:auto max-width:800">
		<div
			class="display:flex flex-wrap:wrap column-gap:44 padding-horizontal:32 row-gap:16 @mq-700--row-gap:32"
		>
			<div class="flex-basis:296px flex-grow:1">
				<button
					class="align-items:center background-color:272b49 border-radius:full box-shadow:2_2_0e0514 color:f0f0f0 display:flex font-size:31 font-family:overlock height:66 justify-content:center :hocus--background-color:1e2139"
					id="creategamebutton"
					style="margin-bottom: 16px; width: 100%"
					type="button"
				>
					Create Game
				</button>

				<p
					class="color:dddcdd font-family:arvo font-size:16 line-height:1.4375"
					style="margin-bottom: 16px"
				>
					Create a new private game a friend can join.
				</p>

				<form
					class="color:dddcdd flex-direction:column font-family:arvo font-size:16 gap:16 line-height:1.4375"
					id="creategameform"
				>
					<label for="gamename"><b>Game Name:</b></label>
					<input
						id="gamename"
						style="color: #111; padding: 4px"
						type="text"
						name="gamename"
					/>
					<input
						class="tooltip-button"
						type="submit"
						value="Submit"
					/>
				</form>
			</div>

			<div class="flex-basis:296px flex-grow:1">
				<button
					class="align-items:center background-color:115f77 border-radius:full box-shadow:2_2_0e0514 color:f0f0f0 display:flex font-size:31 font-family:overlock height:66 justify-content:center :hocus--background-color:004962"
					id="joingamebutton"
					style="margin-bottom: 16px; width: 100%"
					type="button"
				>
					Join Game
				</button>

				<p
					class="color:dddcdd font-family:arvo font-size:16 line-height:1.4375"
					style="margin-bottom: 16px"
				>
					Join a private game that a friend has created.
				</p>

				<form
					class="color:dddcdd flex-direction:column font-family:arvo font-size:16 gap:16 line-height:1.4375"
					id="joingameform"
				>
					<label for="gamename"><b>Game Name:</b></label>
					<input
						id="gamename"
						style="color: #111; padding: 4px"
						type="text"
						name="gamename"
					/>
					<input
						class="tooltip-button"
						type="submit"
						value="Submit"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
