{% extends "layout.html" %}

{% block title %}Profile - {% endblock %}

{% block head %}
{{ super() }}
<style>
	.profile {
		display: flex;
		justify-content: center;
		font-size: 18px;
		color: white;
	}

	.profile .title {
		font-size: 24px;
	}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="profile">
	<div>
		<h1 class="title">Welcome, {{ current_user_name }}!</h1>
		<br />
		<h2>Your current Sigil rating is {{ elo }}.</h2>
		<br />
		<h2>You have played {{ ladder_game_count }} ladder matches.</h2>
	</div>
</div>
{% endblock %}
