<!doctype html>
<html>
  <head>
    <title>Sigil Online</title>

    <link rel="stylesheet" href="/static/gameboard.css">
    <link rel="icon" href="data:,">
  </head>

  <script src="/static/singleplayergameboard.js"></script>

  <body onload="main();">

    
    <div id="fullBoard" >

      <div>
        <img id="board" src="/static/images/boardcenter.png"/>

        <img id="latinring" src="/static/images/latinring.png"/>
        <img id="runering" src="/static/images/runering.png"/>
      </div>



      <!-- Locks -->

    <img id="redlocka1" src = "/static/images/redlock.png">

    <img id="redlocka2" src = "/static/images/redlock.png">

    <img id="redlockb1" src = "/static/images/redlock.png">

    <img id="redlockb2" src = "/static/images/redlock.png">

    <img id="redlockc1" src = "/static/images/redlock.png">

    <img id="redlockc2" src = "/static/images/redlock.png">

    <img id="redlocka1alt" src = "/static/images/redlock.png">

    <img id="redlocka2alt" src = "/static/images/redlock.png">

    <img id="redlockb1alt" src = "/static/images/redlock.png">

    <img id="redlockb2alt" src = "/static/images/redlock.png">

    <img id="redlockc1alt" src = "/static/images/redlock.png">

    <img id="redlockc2alt" src = "/static/images/redlock.png">



    <img id="bluelocka1" src = "/static/images/bluelock.png">

    <img id="bluelocka2" src = "/static/images/bluelock.png">

    <img id="bluelockb1" src = "/static/images/bluelock.png">

    <img id="bluelockb2" src = "/static/images/bluelock.png">

    <img id="bluelockc1" src = "/static/images/bluelock.png">

    <img id="bluelockc2" src = "/static/images/bluelock.png">

    <img id="bluelocka1alt" src = "/static/images/bluelock.png">

    <img id="bluelocka2alt" src = "/static/images/bluelock.png">

    <img id="bluelockb1alt" src = "/static/images/bluelock.png">

    <img id="bluelockb2alt" src = "/static/images/bluelock.png">

    <img id="bluelockc1alt" src = "/static/images/bluelock.png">

    <img id="bluelockc2alt" src = "/static/images/bluelock.png">


  <!-- End Of Locks -->



  <!-- Void/Mana Stones -->
      <div>
        <img id ="a1" class="stone" src = "/static/images/emptystone.png">
      </div>

      <div>
        <img id ="a11" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a12" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a13" class="stone" src = "/static/images/emptystone.png">
      </div>



      <div>
        <img id ="b1" class="stone" src = "/static/images/emptystone.png">
      </div>

      <div>
        <img id ="b11" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b12" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b13" class="stone" src = "/static/images/emptystone.png">
      </div>


      <div>
        <img id ="c1" class="stone" src = "/static/images/emptystone.png">
      </div>



      <div>
        <img id ="c11" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c12" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c13" class="stone" src = "/static/images/emptystone.png">
      </div>



    <!-- End of Void/Mana Stones -->


    
      <div>
        <img id ="scorekeeper" class="scoreb1" src = "/static/images/bluestone.png">
      </div>
    


  <!-- Spells & Their Stones & Text Boxes -->


  <p id="majortext2" class="spelltext"></p>


  <div id="majordiv2">
        <img id="major2" src="/static/images/emptystone.png">
        <img id="majornodes2" src="/static/images/majornodes.png">

         <div>
        <img id ="b2" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b3" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b4" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b5" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b6" class="stone" src = "/static/images/emptystone.png">
      </div>

      </div>


  <p id="minortext1" class="spelltext"></p>


  <div id="minordiv1">
        <img id="minor1" src="/static/images/emptystone.png">
        <img id="minornodes1" src="/static/images/minornodes.png">

        <div>
        <img id ="a8" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a9" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a10" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


      <p id="charmtext1" class="spelltext"></p>

      <div id="charmdiv1">
        <img id="charm1" src="/static/images/emptystone.png">
        <img id="charmnodes1" src="/static/images/charmnodes.png">

      <div>
        <img id ="a7" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


  <p id="majortext1" class="spelltext"></p>


  <div id="majordiv1">
        <img id="major1" src="/static/images/emptystone.png">
        <img id="majornodes1" src="/static/images/majornodes.png">

        <div>
        <img id ="a2" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a3" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a4" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a5" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="a6" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>

  <p id="minortext2" class="spelltext"></p>


  <div id="minordiv2">
        <img id="minor2" src="/static/images/emptystone.png">
        <img id="minornodes2" src="/static/images/minornodes.png">

        <div>
        <img id ="b8" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b9" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="b10" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


      <p id="charmtext2" class="spelltext"></p>

  <div id="charmdiv2">
        <img id="charm2" src="/static/images/emptystone.png">
        <img id="charmnodes2" src="/static/images/charmnodes.png">

        <div>
        <img id ="b7" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>

  <p id="charmtext3" class="spelltext"></p>


  <div id="charmdiv3">
        <img id="charm3" src="/static/images/emptystone.png">
        <img id="charmnodes3" src="/static/images/charmnodes.png">

        <div>
        <img id ="c7" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


  <p id="majortext3" class="spelltext"></p>

  <div id="majordiv3">
        <img id="major3" src="/static/images/emptystone.png">
        <img id="majornodes3" src="/static/images/majornodes.png">

        <div>
        <img id ="c2" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c3" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c4" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c5" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c6" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


  <p id="minortext3" class="spelltext"></p>


      <div id="minordiv3">
        <img id="minor3" src="/static/images/emptystone.png">
        <img id="minornodes3" src="/static/images/minornodes.png">

        <div>
        <img id ="c8" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c9" class="stone" src = "/static/images/emptystone.png">
      </div>
      <div>
        <img id ="c10" class="stone" src = "/static/images/emptystone.png">
      </div>
      </div>


    </div>


    <div id="actionBox">
      <b>Welcome to Sigil Online!</b>
    </div>
    <input type="text" id="actionInput" onkeypress="actionInputKeypress();" />


    <div>
      <b id="whoseturndisplay"></b>
    </div>


    <div>
      <b id="redcountdown"></b>
    </div>

    <div>
      <b id="bluecountdown"></b>
    </div>


    <div>
      <button type="button" id="dashbutton" class="dashbutton">
        <b>Dash</b>
      </button>
    </div>

    <div>
      <button type="button" id="passbutton" class="passbutton">
        <b>Pass</b>
      </button>
    </div>

    <div>
      <button type="button" id="resetbutton" class="resetbutton">
        <b>Reset</b>
      </button>
    </div>

    <div>
      <button type="button" id="doneselectingbutton" class="doneselectingbutton">
        <b>Done</b>
      </button>
    </div>


  </body>
</html>













