<!doctype html>
<html>
  <head>
    <title>Sigil Online Single Player</title>

    <link rel="stylesheet" href="/static/singleplayer.css">
    <link rel="icon" href="data:,">
  </head>

  <script src="/static/singleplayer.js"></script>

  <body onload="main();">

    <div id="singleplayerdescription">
      <b>Play a game against BetaSigil, our rudimentary AI.<br>(AlphaSigil is still under construction.)</b><br>
      <a href="{{ url_for('singleplayergameboard') }}" style="color:hotpink;">Start Game</a>
    </div>

  </body>
</html>
