<!DOCTYPE html>
<html>
	<head>
		<title>Sigil Online</title>

		<link
			rel="stylesheet"
			href="/static/tutorialpartone.css"
		/>
		<link
			rel="icon"
			href="data:,"
		/>
	</head>

	<script src="/static/tutorialpartone.js"></script>

	<body onload="main();">
		<div>
			<p id="tutorialtext">
				Welcome to Sigil Online!<br />This is Part 1 of a three-part tutorial.<br /><br />Click
				"Next" or press Space to advance.
			</p>
		</div>

		<div>
			<button
				type="button"
				id="nextbutton"
			>
				<b>Next</b>
			</button>
		</div>

		<div id="fullBoard">
			<div>
				<img
					id="board"
					src="/static/images/boardcenter.png"
				/>

				<img
					id="latinring"
					src="/static/images/latinring.png"
				/>
				<img
					id="runering"
					src="/static/images/runering.png"
				/>
			</div>

			<!-- Arrows for tutorial -->


			<div>
				<img
					id="arrowscorekeeper"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowredmana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowbluemana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowneutralmana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>


			<!-- End arrows for tutorial -->

			

			<!-- Void/Mana Stones -->
			<div>
				<img
					id="a1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="a11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<!-- End of Void/Mana Stones -->

			<!-- Spells & Their Stones (no text boxes in tutorial part 1) -->


			<p
				id="ritualtext1"
				class="spelltext"
			><b>Creeping Vines</b><br /><span style='color:BlueViolet;'>Ritual</span><br />Make 4 soft moves.</p>

			<div id="ritualdiv1">
				<img
					id="ritual1"
					src="/static/images/Flourish.png"
				/>
				<img
					id="ritualnodes1"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="a2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext1"
				class="spelltext"
			><b>Spreading Ivy</b><br /><span style='color:BlueViolet;'>Sorcery</span><br />Make 2 soft moves.</p>

			<div id="sorcerydiv1">
				<img
					id="sorcery1"
					src="/static/images/Grow.png"
				/>
				<img
					id="sorcerynodes1"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="a8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext1"
				class="spelltext"
			><b>Sprout</b><br /><span style='color:BlueViolet;'>Charm</span><br />Make 1 soft move.</p>

			<div id="charmdiv1">
				<img
					id="charm1"
					src="/static/images/Sprout.png"
				/>
				<img
					id="charmnodes1"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="a7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="ritualtext2"
				class="spelltext"
			><b>Flame Front</b><br /><span style='color:BlueViolet;'>Ritual</span><br />Make 4 hard moves.</p>

			<div id="ritualdiv2">
				<img
					id="ritual2"
					src="/static/images/Carnage.png"
				/>
				<img
					id="ritualnodes2"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="b2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext2"
				class="spelltext"
			><b>Searing Wind</b><br /><span style='color:BlueViolet;'>Sorcery</span><br />Destroy all enemy stones<br />which are touching you.</p>

			<div id="sorcerydiv2">
				<img
					id="sorcery2"
					src="/static/images/Fireblast.png"
				/>
				<img
					id="sorcerynodes2"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="b8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext2"
				class="spelltext"
			><b>Slash</b><br /><span style='color:BlueViolet;'>Charm</span><br />Make 1 hard move.</p>

			<div id="charmdiv2">
				<img
					id="charm2"
					src="/static/images/Slash.png"
				/>
				<img
					id="charmnodes2"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="b7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="ritualtext3"
				class="spelltext"
			><b>Ice Mirror</b><br /><span style='color:BlueViolet;'>Ritual</span><br />Choose 2 enemy stones touching each other.<br />Convert them to your color.</p>

			<div id="ritualdiv3">
				<img
					id="ritual3"
					src="/static/images/Bewitch.png"
				/>
				<img
					id="ritualnodes3"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="c2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="sorcerytext3"
				class="spelltext"
			><b>Hail Storm</b><br /><span style='color:BlueViolet;'>Sorcery</span><br />Destroy 1 enemy stone in each spell.</p>

			<div id="sorcerydiv3">
				<img
					id="sorcery3"
					src="/static/images/Hail_Storm.png"
				/>
				<img
					id="sorcerynodes3"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="c8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<p
				id="charmtext3"
				class="spelltext"
			><b>Surge</b><br /><span style='color:BlueViolet;'>Charm</span><br />Make 1 move if you did<br />not dash this turn.</p>

			<div id="charmdiv3">
				<img
					id="charm3"
					src="/static/images/Surge.png"
				/>
				<img
					id="charmnodes3"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="c7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<!-- End of Spells & Their Stones -->

			<!-- Scorekeeper stone -->

			<div>
				<img
					id="scorekeeper"
					class="scoreb1"
					src="/static/images/bluestone.png"
				/>
			</div>

			<!-- End of Scorekeeper stone -->
		</div>
	</body>
</html>
