<!DOCTYPE html>
<html>
	<head>
		<title>Sigil Online</title>

		<link
			rel="stylesheet"
			href="/static/tutorialpartone.css"
		/>
		<link
			rel="icon"
			href="data:,"
		/>
	</head>

	<script src="/static/tutorialpartone.js"></script>

	<body onload="main();">
		<div>
			<p id="tutorialtext">
				Welcome to Sigil Online!<br />This is Part 1 of a three-part tutorial.<br /><br />Click
				"Next" or press Space to advance.
			</p>
		</div>

		<div>
			<button
				type="button"
				id="nextbutton"
			>
				<b>Next</b>
			</button>
		</div>

		<div id="fullBoard">
			<div>
				<img
					id="board"
					src="/static/images/boardcenter.png"
				/>

				<img
					id="latinring"
					src="/static/images/latinring.png"
				/>
				<img
					id="runering"
					src="/static/images/runering.png"
				/>
			</div>

			<!-- Arrows for tutorial -->


			<div>
				<img
					id="arrowscorekeeper"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowredmana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowbluemana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowneutralmana"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm1"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm2"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowritual3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowsorcery3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>

			<div>
				<img
					id="arrowcharm3"
					class="arrow"
					src="/static/images/arrow.png"
				/>
			</div>


			<!-- End arrows for tutorial -->

			

			<!-- Void/Mana Stones -->
			<div>
				<img
					id="a1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="a11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="a13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="b11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="b13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c1"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<div>
				<img
					id="c11"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c12"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>
			<div>
				<img
					id="c13"
					class="stone"
					src="/static/images/emptystone.png"
				/>
			</div>

			<!-- End of Void/Mana Stones -->

			<!-- Spells & Their Stones (no text boxes in tutorial part 1) -->

			<div id="ritualdiv1">
				<img
					id="ritual1"
					src="/static/images/Creeping_Vines.png"
				/>
				<img
					id="ritualnodes1"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="a2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="sorcerydiv1">
				<img
					id="sorcery1"
					src="/static/images/Spreading_Ivy.png"
				/>
				<img
					id="sorcerynodes1"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="a8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="a10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="charmdiv1">
				<img
					id="charm1"
					src="/static/images/Sprout.png"
				/>
				<img
					id="charmnodes1"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="a7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="ritualdiv2">
				<img
					id="ritual2"
					src="/static/images/Flame_Front.png"
				/>
				<img
					id="ritualnodes2"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="b2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="sorcerydiv2">
				<img
					id="sorcery2"
					src="/static/images/Searing_Wind.png"
				/>
				<img
					id="sorcerynodes2"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="b8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="b10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="charmdiv2">
				<img
					id="charm2"
					src="/static/images/Spark.png"
				/>
				<img
					id="charmnodes2"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="b7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="ritualdiv3">
				<img
					id="ritual3"
					src="/static/images/Ice_Mirror.png"
				/>
				<img
					id="ritualnodes3"
					src="/static/images/ritualnodes.png"
				/>

				<div>
					<img
						id="c2"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c3"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c4"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c5"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c6"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="sorcerydiv3">
				<img
					id="sorcery3"
					src="/static/images/Hail_Storm.png"
				/>
				<img
					id="sorcerynodes3"
					src="/static/images/sorcerynodes.png"
				/>

				<div>
					<img
						id="c8"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c9"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
				<div>
					<img
						id="c10"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<div id="charmdiv3">
				<img
					id="charm3"
					src="/static/images/Frost.png"
				/>
				<img
					id="charmnodes3"
					src="/static/images/charmnodes.png"
				/>

				<div>
					<img
						id="c7"
						class="stone"
						src="/static/images/emptystone.png"
					/>
				</div>
			</div>

			<!-- End of Spells & Their Stones -->

			<!-- Scorekeeper stone -->

			<div>
				<img
					id="scorekeeper"
					class="scoreb1"
					src="/static/images/bluestone.png"
				/>
			</div>

			<!-- End of Scorekeeper stone -->
		</div>
	</body>
</html>
